<div class="createUser">
  {{#if signupErrorMessage}}
  <div class="error"><h1> Username or Email already taken </h1></div>
  {{/if}}
<form {{action 'createUser' on='submit'}}>
  {{input placeholder="Username" value=model.username}}
  {{input placeholder="E-mail" type="email" value=model.email}}
  {{input placeholder="Password" type="password" value=model.password}}
  {{input placeholder="ZipCode" type="text" value=model.zipcode}}<br>
  <button type="submit"> Sign Up </button>
</form>
</div>
