<div class="createUser">
<form {{action 'createUser' on='submit'}}>
  {{input placeholder="Username" value=model.username}}
  {{input placeholder="E-mail" type="email" value=model.email}}
  {{input placeholder="Password" type="password" value=model.password}}
  {{input placeholder="ZipCode" type="text" value=model.zipcode}}<br>
  <button>{{#link-to 'index'}}Sign Up{{/link-to}}</button>
</form>
</div>
